# Django is needed to run Django
Django

# gunicorn is needed by Heroku to launch the web application
gunicorn

# django-heroku is ONLY needed by Heroku for their internal process
django-bootstrap-v5
django-heroku
